#header{
 display: grid;
 grid-template-columns: 2fr 5fr;
 background: black;
 color: white;
 font-size: 20pt;
}
#ui{
 display: grid;
 grid-template-columns: 0.2fr 0.5fr;
}
.skills{
 display: grid;
 grid-template-columns: 1fr 1fr;
 font-family: cursive;
}
#ent{
 margin-top: 0px;
}
#space{
 margin-left: 30px;

}

#skills{
 background: #CDCDCF;
 padding: 10px;
 font-family: cursive;
}

p{
 text-align: justify;
}
#head{
 font-weight: bold;
 text-decoration-color: red;

}
svg{
 height: 1em;
 margin-left: 40px;
}
#left-mrgm{
 margin-left: 40px;
 font-weight: bold;
}
.box{
 height: 20px;
 width: 20px;
 background: black;
}
#image{
 height: 150px;
 width: 150px;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 20px;
}
#name{
 letter-spacing: 0.5em;
 font-weight: bold;
 margin-top: 20px;
}
#web{
 letter-spacing: 0.2em;
 margin-top: 30px;
}
#underline{
 width: 440px;
 height: 7px;
 margin-top: 20px;
 background: #CECED0;
}
#exp{
 background: #CDCDCF;
 padding: 10px;
}
#wrapper{
 padding: 0px;
 margin-top: 50px;
}

h1{
  text-align: right;
  font-size: 18pt;
}



body {
    margin: 40px;
    font-family: "Adobe Caslon Pro", "Minion Pro", cursive;
    font-size: 18pt;

   /* color: black;*/
}

table {
  font-family: Verdana, Serif, "Times New Roman";
  border-collapse: collapse;
  background-color: #666;
  width: 60%;
}

td,
th,
tr {
  border: 1px solid white;
  text-align: center;
  padding: 4px;
  height: 50px;
  color: white;
}
h2 {
  font-family: sans-serif;
  font-size: 20pt;
  color: red;
}

header {
    font-family: "Trajan Pro", serif;
    padding-bottom: 10px;
    font-size: 20pt;
}

header h1 {
    font-size: 20pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid black;
    margin-bottom: 4px;
    font-size: 20pt;
}

header span {
    font-size: 10pt;
    float: right;
}

section h2 {
    font-family: "Trajan Pro", serif;
    font-size: 14pt;
}

section p {
    margin-left: 40px;
    text-decoration: center;
    
}

section.coverletter {
    margin-top: 40px;
}

section.coverletter p {
    margin-left: 0px;
}

section ul {
    list-style-type: circle;
}

.jobtable {
    display: table;
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

.edtable {
    display: table;
    width: 100%;
    margin-left: 20px;
    padding-bottom: 15px;
}

.skillstable {
    display: table;
    width: 100%;
}

.table {
    display: table;
    margin-left: 20px;
}

.tablerow {
    display: table-row;
}

.jobtitle {
    display: table-cell;
    font-style: italic;
}

.right {
    display: table-cell;
    text-align: right;
}

.cell {
    display: table-cell;
}

.onlinecell {
    font-style: italic;
    padding-right: 10px;
}

.urlcell {
    display: table-cell;
    letter-spacing: 1px;
}

.pagebreak {
    page-break-before: always;
}